
/* ******************************************* -- LAYOUT -- ******************************************* */



body {
    background-color: #ffffff;
    list-style-position: inside;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.p-container {
    display: flex;
    justify-content: center;
}

.p-container p {
    margin: 0;
    padding: 0 10px;
}


.h1-blue {
    color: #525FE1;
}

.h2-orange {
    color: #F86F03;
}
